%fieldset
  =form_for @run_stamp do |f|
    =f.label :jobNumber, "Job Number"
    =f.text_field :jobNumber
    %br
    =f.text_field :timeStart, :class => "hidden"
    =link_to "Start Press", '#', :remote => true, :id => 'startPress'
    %br
    =f.label :reason, "Stop Reason", :id => 'reason_text', :class => "hidden"
    =f.select(:reason, RunStamp.halt_reasons, {:include_blank => 'Select One'}, {:class => "hidden"})
    =f.submit "Stop Press", :id => 'stopPress', :class => "hidden"

