%h1 List of Run Stamps

%table{ :rules => 'all' }
  %thead
    %tr
      %th Job Number
      %th Time Start
      %th Time Stop
      %th Total Time
  %tbody
    -@run_stamps.each do |stamp|
      %tr
        %td= stamp.jobNumber
        %td= time_at(stamp.timeStart)
        %td= time_at(stamp.timeStop)
        %td= time_diff(stamp.timeStop, stamp.timeStart)

