%h1 List of Run Stamps

%table
  %thead
    %tr
      %th Id
      %th Job Number
      %th Time Start
      %th Time Stop
      %th Total Time
  %tbody
    -@run_stamps.each do |stamp|
      %tr
        %td= stamp.id
        %td= stamp.jobNumber
        %td= stamp.timeStart
        %td= stamp.timeStop

